.child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 680px;
  height: 720px;
}
.image-64 {
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 316px;
  width: 60px;
  height: 60px;
  background-image: url(./public/image-61@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div51 {
  position: absolute;
  top: 106px;
  left: 179px;
  display: inline-block;
  width: 333px;
  height: 34px;
}
.group-child {
  position: absolute;
  top: 43px;
  left: 0;
  background-color: var(--color-darkgray);
  width: 546px;
  height: 3px;
}
.div52 {
  position: absolute;
  top: 0;
  left: 20.3px;
  display: inline-block;
  width: 174.9px;
  height: 37px;
}
.rectangle-group,
.rectangle-parent {
  position: relative;
  width: 546px;
  height: 46px;
}
.rectangle-group {
  margin-left: -21px;
}
.div54 {
  position: absolute;
  top: 0;
  left: 20px;
  display: inline-block;
  width: 350px;
  height: 37px;
}
.group-parent {
  position: absolute;
  top: 191px;
  left: 69px;
  width: 570px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-gray-400);
}
.image-7-icon1 {
  position: absolute;
  top: 371px;
  left: 574px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.child17 {
  position: absolute;
  top: 579px;
  left: 73px;
  border-radius: var(--br-12xl);
  background-color: var(--color-cornflowerblue);
  width: 546px;
  height: 50px;
}
.div55 {
  top: 587px;
  left: 262px;
  color: var(--color-white);
  display: inline-block;
  width: 169px;
  height: 35px;
}
.a10,
.child18,
.div55 {
  position: absolute;
}
.a10 {
  text-decoration: none;
  top: 675px;
  left: 196px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  display: inline-block;
  width: 300px;
  height: 22px;
}
.child18 {
  top: 697px;
  left: 300px;
  background-color: var(--color-black);
  width: 56px;
  height: 1px;
}
.div50,
.div56 {
  position: absolute;
  top: 269px;
  left: 614px;
  width: 680px;
  height: 720px;
}
.div56 {
  top: 997px;
  left: 667px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 201px;
  height: 22px;
}
.registration {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #fff;
  width: 100%;
  height: 1200px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
