{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
  <div class="authorizationpage">
    <div class="div">
      <div class="child"></div>
      <div class="item"></div>
      <div class="email">Email</div>
      <div class="inner"></div>
      <div class="div1">Пароль</div>
      <img class="image-7-icon" alt="" src="{{ url_for('static', path='images/image-7@2x.png') }}" />

      <div class="wrapper">
        <div class="div2">Войти</div>
      </div>
      <a class="a" href="./registration.html"
        >Хотите зарегеистрировать свой аккаунт?</a
      >
      <div class="rectangle-div"></div>
      <a class="image-6" href="https://www.youtube.com/watch?v=wAlprT_gZPw">
      </a>
      <div class="div3">
        <p class="p">Авторизация</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}