{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/register.css') }}" />
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
    <div class="registration">
      <div class="div50">
        <div class="child16"></div>
        <a class="image-64" href="https://www.youtube.com/watch?v=wAlprT_gZPw">
        </a>
        <div class="div51">Регистрация</div>
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="div52">Имя</div>
          </div>
          <div class="rectangle-group">
            <div class="group-child"></div>
            <div class="div52">Email</div>
          </div>
          <div class="rectangle-group">
            <div class="group-child"></div>
            <div class="div52">Пароль</div>
          </div>
          <div class="rectangle-group">
            <div class="group-child"></div>
            <div class="div54">Регестрацонный код</div>
          </div>
        </div>
        <img class="image-7-icon1" alt="" src="./public/image-7@2x.png" />

        <div class="child17"></div>
        <div class="div55">Далее</div>
        <a class="a10">
          <span>Хотите </span>
          <b>зайти</b>
          <span> в аккаунт?</span>
        </a>
        <div class="child18"></div>
      </div>
      <div class="div56">Условия пользования</div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
