{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Password Recovery</title>
  <style>
     .error-message {
          padding: 20px;
          background-color: #fa3939;
          border-radius: 5px;
     }
  </style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center mb-4">Восстановление пароля</h3>
            <form id="recoveryForm">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              {% if error_msg %}
                <div class="error-message">
                    <p>{{ error_msg }}</p>
                </div>
              {% endif %}
              <button type="button" class="btn btn-primary btn-block" id="recoveryButton" onclick="sendRecoveryEmail()">Отправить сообщение</button>
              <div id="countdown" class="text-center mt-2" style="display:none;"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function sendRecoveryEmail() {
      // Get the email from the input field
      var email = document.getElementById('email').value;

      // Disable the button
      var recoveryButton = document.getElementById('recoveryButton');
      recoveryButton.disabled = true;
      recoveryButton.classList.add('btn-secondary'); // Make the button gray

      // Show countdown timer
      var countdown = document.getElementById('countdown');
      countdown.style.display = 'block';
      var errorMsg = document.getElementsByClassName('error-message');

      // Set the initial value of the countdown
      var seconds = 30;
      countdown.innerHTML = 'Retry in ' + seconds + 's';

      // Update the countdown every second
      var countdownInterval = setInterval(function() {
        seconds--;
        countdown.innerHTML = 'Retry in ' + seconds + 's';

        // If the countdown reaches 0, re-enable the button and hide the countdown
        if (seconds <= 0) {
          clearInterval(countdownInterval);
          recoveryButton.disabled = false;
          recoveryButton.classList.remove('btn-secondary');
          countdown.style.display = 'none';
        }
      }, 1000);

      // Use the fetch API for the AJAX request
      fetch('/auth/reset-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email: email }),
      })
      .then(async (response) => {
        // Check if the response is successful (status code 2xx)
        if (!response.ok) {
          throw new Error('Error sending password recovery email');
        }

        // Handle success, you can customize this part
        console.log('Password recovery email sent successfully');
      })
      .catch(async (error) => {
        // Handle error, you can customize this part
        if (errorMsg) {
             errorMsg.innerHTML = error
        }
        console.error(error);
      })
      .finally(() => {
        // Clear the countdown interval
        clearInterval(countdownInterval);
        recoveryButton.disabled = false;
        recoveryButton.classList.remove('btn-secondary');
        countdown.style.display = 'none';
      });
    }
  </script>
{% endblock %}

{% block footer %}
{% endblock %}
