{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/account-info.css') }}" />
{% endblock %}

{% block content %}
  <div class="accountinfo">

    {% if user.photo %}
    <img
      class="accountinfo-child"
      alt=""
      src="{{ url_for('static', path='data/' + user.photo.file_id) }}"
    />
    {% else %}
    <img
      class="accountinfo-child"
      alt=""
      src="{{ url_for('static', path='images/account-icon.png') }}"
    />
    {% endif %}

    <div class="accountinfo-item"></div>
    <img class="image-14-icon" alt="" src="{{ url_for('static', path='images/image-13@2x.png') }}" style="opacity: 1"/>

    <div class="accountinfo-inner"></div>
    <div class="div4">Имя</div>
    <div class="div5">Дата создания</div>
    <div class="div6">Электронная почта</div>
    <div class="accountinfo-child1"></div>
    <div class="accountinfo-child2"></div>
    <div class="gmailcom">{{ user.email }}</div>
    <div class="div7">{{ user.created_at }}</div>
    <div class="tvoijopanasha">{{ user.name }}</div>
    <div class="div8"><a href="{{ url_for('auth:logout') }}">Выйти с аккаунта</a></div>
  </div>
{% endblock %}
