<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./information-about-server.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="informationaboutserver">
      <div class="nav-bar2">
        <a
          class="nav-bar-inner"
          href="C:\Users\KAnat\Desktop\Site\Account-Info.html"
        >
        </a>
        <a class="a5" href="C:\Users\KAnat\Desktop\Site\Home.html">Главная</a>
        <a class="a6" href="./servers.html">Сервера</a>
        <div class="search-bar2">
          <b class="b2">Найти...</b>
          <img class="image-6-icon4" alt="" src="./public/image-6@2x.png" />
        </div>
        <a class="image-62" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        </a>
      </div>
      <div class="div27">
        <img class="rectangle-icon" alt="" src="./public/rectangle-19@2x.png" />

        <div class="minecraft-horse-container1">
          <p class="minecraft-horse1">MINECRAFT HORSE █████ ONLINE 24/7</p>
        </div>
        <div class="div28">Описание</div>
      </div>
      <div class="border-for-info-server1"></div>
      <div class="div29">
        <div class="owner-text1">Taburetka3000</div>
        <div class="status-text1">Online</div>
        <div class="ip-text1">191.32.52.32:25041</div>
        <div class="website-text1">Click to link</div>
        <div class="discord-text1">Click to join</div>
        <div class="players-column1">1000/2000</div>
        <div class="game-name1">Minecraft</div>
        <div class="uptime-text1">99.9%</div>
        <div class="country-name1">Russian</div>
        <div class="last-pings-time2">2 сек. назад</div>
        <div class="horizontal-separator-parent">
          <div class="horizontal-separator11"></div>
          <div class="horizontal-separator12"></div>
          <div class="horizontal-separator13"></div>
          <div class="horizontal-separator14"></div>
          <div class="horizontal-separator15"></div>
          <div class="horizontal-separator16"></div>
          <div class="horizontal-separator17"></div>
          <div class="horizontal-separator18"></div>
          <div class="horizontal-separator19"></div>
          <div class="horizontal-separator20"></div>
          <div class="info-of-server1">
            <div class="status1">Status</div>
            <div class="status1">IP</div>
            <div class="status1">Website</div>
            <div class="status1">Discord</div>
            <div class="status1">Players</div>
            <div class="status1">Game</div>
            <div class="status1">Uptime</div>
            <div class="status1">Country</div>
            <div class="status1">Last Ping</div>
            <div class="status1">Tags</div>
          </div>
          <div class="wrapper5">
            <div class="div30">ТЭГ</div>
          </div>
          <div class="wrapper6">
            <div class="div30">ТЭГ</div>
          </div>
        </div>
        <div class="donatecraft-container">
          <div class="div30">DonateCraft</div>
        </div>
        <div class="owner1">Owner</div>
        <div class="line-for-1"></div>
      </div>
      <div class="footer2">
        <a class="image-32" href="https://discord.com/invite/4BxZEjhetP"> </a>
        <a class="image-42" href="https://steamcommunity.com/groups/IgraKarma">
        </a>
        <div class="body2">
          <div class="lorem-ipsum-dolor2">© Все права защищены</div>
        </div>
      </div>
    </div>
  </body>
</html>
