{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='./owner-server-info.css') }}" />
{% endblock %}

{% block content %}
    <div class="ownerserverinfo">
      <img class="icon" alt="" src="{{ url_for('static', path='images/@2x.png') }}" />

      <div class="div21">
        <div class="child7"></div>
        <div class="minecraft-horse-container">
          <p class="minecraft-horse">MINECRAFT HORSE █████ ONLINE 24/7</p>
        </div>
        <div class="div22">Описание</div>
      </div>
      <div class="div23">
        <div class="border-for-info-server"></div>
        <div class="horizontal-separator"></div>
        <div class="horizontal-separator1"></div>
        <div class="horizontal-separator2"></div>
        <div class="horizontal-separator3"></div>
        <div class="horizontal-separator4"></div>
        <div class="horizontal-separator5"></div>
        <div class="horizontal-separator6"></div>
        <div class="horizontal-separator7"></div>
        <div class="horizontal-separator8"></div>
        <div class="horizontal-separator9"></div>
        <div class="info-of-server">
          <div class="status">Status</div>
          <div class="status">IP</div>
          <div class="status">Website</div>
          <div class="status">Discord</div>
          <div class="status">Players</div>
          <div class="status">Game</div>
          <div class="status">Uptime</div>
          <div class="status">Country</div>
          <div class="status">Last Ping</div>
          <div class="status">Tags</div>
        </div>
        <div class="wrapper3">
          <div class="donatecraft">ТЭГ</div>
        </div>
        <div class="wrapper4">
          <div class="donatecraft">ТЭГ</div>
        </div>
        <div class="horizontal-separator10"></div>
        <div class="api-token">API Token</div>
        <div class="last-pings-time">Copy</div>
        <div class="donatecraft-wrapper">
          <div class="donatecraft">DonateCraft</div>
        </div>
        <div class="line-for-"></div>
        <img class="image-14-icon1" alt="" src="{{ url_for('static', path='images/image-14@2x.png') }}" />
      </div>
      <div class="owner">Owner</div>
      <div class="info-of-server-text">
        <div class="owner-text">Taburetka3000</div>
        <div class="owner-text">Online</div>
        <div class="ip-text">191.32.52.32:25041</div>
        <div class="owner-text">Click to link</div>
        <div class="owner-text">Click to join</div>
        <div class="owner-text">1000/2000</div>
        <div class="owner-text">Minecraft</div>
        <div class="owner-text">99.9%</div>
        <div class="owner-text">Russian</div>
        <div class="owner-text">2 сек. назад</div>
      </div>
      <div class="div26">Информация</div>
    </div>
{% endblock %}
