<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./owner-server-info.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="ownerserverinfo">
      <div class="nav-bar1">
        <a
          class="nav-bar-item"
          href="C:\Users\KAnat\Desktop\Site\Account-Info.html"
        >
        </a>
        <a class="a3" href="./home.html">Главная</a>
        <a class="a4" href="./servers.html">Сервера</a>
        <div class="search-bar1">
          <b class="b1">Найти...</b>
          <img class="image-6-icon2" alt="" src="./public/image-6@2x.png" />
        </div>
        <img class="image-6-icon3" alt="" src="./public/image-6@2x.png" />
      </div>
      <img class="icon" alt="" src="./public/@2x.png" />

      <div class="div21">
        <div class="child7"></div>
        <div class="minecraft-horse-container">
          <p class="minecraft-horse">MINECRAFT HORSE █████ ONLINE 24/7</p>
        </div>
        <div class="div22">Описание</div>
      </div>
      <div class="div23">
        <div class="border-for-info-server"></div>
        <div class="horizontal-separator"></div>
        <div class="horizontal-separator1"></div>
        <div class="horizontal-separator2"></div>
        <div class="horizontal-separator3"></div>
        <div class="horizontal-separator4"></div>
        <div class="horizontal-separator5"></div>
        <div class="horizontal-separator6"></div>
        <div class="horizontal-separator7"></div>
        <div class="horizontal-separator8"></div>
        <div class="horizontal-separator9"></div>
        <div class="info-of-server">
          <div class="status">Status</div>
          <div class="status">IP</div>
          <div class="status">Website</div>
          <div class="status">Discord</div>
          <div class="status">Players</div>
          <div class="status">Game</div>
          <div class="status">Uptime</div>
          <div class="status">Country</div>
          <div class="status">Last Ping</div>
          <div class="status">Tags</div>
        </div>
        <div class="wrapper3">
          <div class="donatecraft">ТЭГ</div>
        </div>
        <div class="wrapper4">
          <div class="donatecraft">ТЭГ</div>
        </div>
        <div class="horizontal-separator10"></div>
        <div class="api-token">API Token</div>
        <div class="last-pings-time">Copy</div>
        <div class="donatecraft-wrapper">
          <div class="donatecraft">DonateCraft</div>
        </div>
        <div class="line-for-"></div>
        <img class="image-14-icon1" alt="" src="./public/image-14@2x.png" />
      </div>
      <div class="owner">Owner</div>
      <div class="info-of-server-text">
        <div class="owner-text">Taburetka3000</div>
        <div class="owner-text">Online</div>
        <div class="ip-text">191.32.52.32:25041</div>
        <div class="owner-text">Click to link</div>
        <div class="owner-text">Click to join</div>
        <div class="owner-text">1000/2000</div>
        <div class="owner-text">Minecraft</div>
        <div class="owner-text">99.9%</div>
        <div class="owner-text">Russian</div>
        <div class="owner-text">2 сек. назад</div>
      </div>
      <div class="footer1">
        <div class="footer-item"></div>
        <a class="image-31" href="https://discord.com/invite/4BxZEjhetP"> </a>
        <a class="image-41" href="https://steamcommunity.com/groups/IgraKarma">
        </a>
        <div class="body1">
          <div class="lorem-ipsum-dolor1">© Все права защищены</div>
        </div>
      </div>
      <div class="div26">Инфорация</div>
    </div>
  </body>
</html>
