{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/queued-servers.css') }}" />
{% endblock %}

{% block content %}
<div class="queuedservers">
      <div class="queuedservers-child"></div>
      <div class="div32">
        <div class="child8"></div>
        <div class="child9"></div>
        <div class="div33">Не отказывай пж</div>
        <div class="dota-2-online">ПЖПЖЖПЖП</div>
        <div class="wrapper7">
          <div class="div35">ТЭГ</div>
        </div>
        <div class="wrapper8">
          <div class="div35">ТЭГ</div>
        </div>
      </div>
      <div class="div37">
        <div class="div38">Поиск по метке:</div>
        <div class="div39">Тип игры</div>
        <div class="child10"></div>
        <div class="garrys-mod">Garry's mod</div>
        <div class="child11"></div>
        <div class="minecraft">Minecraft</div>
        <div class="acceptbutton">
          <div class="wrapper9">
            <div class="div35">Подвердить</div>
          </div>
        </div>
      </div>
      <div class="div41">
        <div class="child8"></div>
        <div class="child9"></div>
        <div class="div33">ДАУРЕН</div>
        <div class="dota-2-online">DOTA 2 ONLINE 24/7</div>
        <div class="wrapper7">
          <div class="div35">ТЭГ</div>
        </div>
        <div class="wrapper8">
          <div class="div35">ТЭГ</div>
        </div>
      </div>
      <div class="div45">
        <div class="child8"></div>
        <div class="child9"></div>
        <div class="div33">Не давай отказ</div>
        <div class="dota-2-online">Ок?</div>
        <div class="wrapper7">
          <div class="div35">ТЭГ</div>
        </div>
        <div class="wrapper8">
          <div class="div35">ТЭГ</div>
        </div>
      </div>
      <img
        class="queuedservers-item"
        alt=""
        src="{{ url_for('static', path='/images/rectangle-11@2x.png') }}"
      />

      <img
        class="queuedservers-inner"
        alt=""
        src="{{ url_for('static', path='/images/rectangle-11@2x.png') }}"
      />

      <img
        class="queuedservers-child1"
        alt=""
        src="{{ url_for('static', path='/images/rectangle-11@2x.png') }}"
      />

      <a class="a9" href="https://www.youtube.com/watch?v=umoRarxG-vE">👁‍</a>
    </div>
{% endblock %}