{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/servers.css') }}" />
{% endblock %}

{% block content %}
    <div class="servers">
      <div class="servers-child"></div>
      <div class="div57">
        <div class="child19"></div>
        <div class="child20"></div>
        <div class="fastrp">FastRP (Быстрая загрузка)</div>
        <div class="nonrp">NonRP</div>
        <div class="wrapper14">
          <div class="div58">ТЭГ</div>
        </div>
        <div class="wrapper15">
          <div class="div58">ТЭГ</div>
        </div>
        <div class="div60">КАРМА</div>
      </div>
      <div class="div61">
        <div class="div62">Поиск по метке:</div>
        <div class="div63">Тип игры</div>
        <div class="child21"></div>
        <div class="garrys-mod1">Garry's mod</div>
        <div class="child22"></div>
        <div class="minecraft1">Minecraft</div>
      </div>
      <div class="div64">
        <div class="child19"></div>
        <div class="child20"></div>
        <div class="fastrp">Продажа почек бесплатно</div>
        <div class="nonrp">Дада бесплатно</div>
        <div class="wrapper14">
          <div class="div58">ТЭГ</div>
        </div>
        <div class="wrapper15">
          <div class="div58">ТЭГ</div>
        </div>
        <div class="div60">КАРМА</div>
      </div>
      <div class="div70">отчима</div>
      <div class="div71">
        <div class="child19"></div>
        <div class="child20"></div>
        <div class="fastrp">ДАУРЕН</div>
        <div class="nonrp">DOTA ONLINE 24/7</div>
        <div class="wrapper14">
          <div class="div58">ТЭГ</div>
        </div>
        <div class="wrapper15">
          <div class="div58">ТЭГ</div>
        </div>
        <div class="div60">КАРМА</div>
      </div>
      <a class="a13" href="https://www.youtube.com/watch?v=umoRarxG-vE">👁‍</a>
    </div>
{% endblock %}
