{% extends 'base.html' %}

{% content head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='css/server-registration.css') }}">
  <title>Регистрация сервера</title>
{% endblock %}

{% block footer %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-panel">
        <a href="#" class="back-arrow"><img src="https://cdn-icons-png.flaticon.com/512/61/61022.png" alt="Назад" width="30" height="30"></a>
      </div>
      <div class="col-md-6 right-panel text-center">
        <img src="your_logo.png" alt="Логотип" class="d-flex justify-content-center">
        <p class="d-flex justify-content-center">Регистрация сервера</p>

        <form id="serverRegistrationForm">
            <div class="form-group">
            <label for="serverName">Имя сервера</label>
            <input type="text" class="form-control" id="serverName" name="serverName" required>
            </div>

            <div class="form-group">
            <label for="shortDescription">Краткое описание</label>
            <textarea class="form-control" id="shortDescription" name="shortDescription" required></textarea>
            </div>

            <div class="form-group">
            <label for="ipPort">IP с портом</label>
            <input type="text" class="form-control" id="ipPort" name="ipPort" required>
            </div>

            <div class="form-group">
            <label for="gameSelection">Выбор игр</label>
            <select class="form-control" id="gameSelection" name="gameSelection" multiple>
                <!-- Варианты игр -->
            </select>
            </div>

            <div class="form-group">
            <label for="countrySelection">Выбор страны</label>
            <select class="form-control" id="countrySelection" name="countrySelection">
                <!-- Список стран -->
            </select>
            </div>

            <div class="form-group">
            <label for="tags">Тэги</label>
            <div class="input-group" id="tagsContainer">
                <input type="text" class="form-control" id="tagInput" placeholder="Добавить тег">
                <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" onclick="addTag()">Добавить тег</button>
                </div>
            </div>
            </div>

            <div id="tagsList" class="form-group">
            <!-- Список добавленных тегов -->
            </div>

            <div class="form-group">
            <div class="error-message" id="errorMessage"></div>
            </div>

            <div class="form-group">
            <button type="submit" class="btn btn-primary">Отправить форму</button>
            </div>
        </form>

      </div>
    </div>
  </div>
  <script src="{{ url_for('static', path='js/server-registration.js') }}" defer></script>
{% endblock %}
