<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./server-registration.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="serverregistration">
      <img class="vector-icon" alt="" src="./public/vector@2x.png" />

      <div class="div8">
        <div class="container">
          <div class="div9">Отправить</div>
        </div>
        <a class="image-61" href="https://www.youtube.com/watch?v=wAlprT_gZPw">
        </a>
        <div class="div10">Регистрация сервера</div>
        <div class="div11">Имя сервера</div>
        <div class="child1"></div>
        <div class="div12">Описание</div>
        <div class="child2"></div>
        <div class="ip">IP</div>
        <div class="child3"></div>
        <div class="div13">Выбор игры</div>
        <div class="child4"></div>
        <img class="image-10-icon" alt="" src="./public/image-10@2x.png" />

        <div class="child5"></div>
        <div class="div14">место для ошибок при отправке формы</div>
      </div>
      <div class="frame-parent">
        <div class="frame">
          <div class="div9">ТЭГ</div>
        </div>
        <div class="frame">
          <div class="div9">ТЭГ</div>
        </div>
        <div class="frame">
          <div class="div9">ТЭГ</div>
        </div>
        <div class="frame">
          <div class="div9">ТЭГ</div>
        </div>
      </div>
      <div class="div19">
        <img class="image-11-icon" alt="" src="./public/image-10@2x.png" />

        <div class="russia">Russia</div>
        <div class="child6"></div>
      </div>
      <div class="div20">Тэги</div>
      <div class="serverregistration-child"></div>
      <img class="image-13-icon" alt="" src="./public/image-13@2x.png" />
    </div>
  </body>
</html>
