{% extends 'base.html' %}

{% block head %}
  <title>Сервера игр</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .server-container {
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-gap: 20px;
      margin: 50px 120px; /* Отступы от краев страницы */
      padding: 0px;
    }

    .server-card {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 10px;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #ccc;
    }

    .server-icon {
      height: auto;
      margin-right: 15px;
      border-radius: 50%;
      /* Добавьте стили иконки по вашему желанию */
    }

    .server-details {
      grid-column: 0;
      grid-row: 0;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .tag {
      margin-right: 10px;
      margin-bottom: 2px;
      padding: 2px;
      background-color: #007bff;
      color: #fff;
      border-radius: 4px;
    }

    .number {
      grid-column: 3;
      align-self: center;
    }

    .filter-sidebar {
      background-color: #d0d0d0;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #888888be;
      grid-column: 2 / 3;
    }

    .main {
      grid-row: 1 / 2;
    }

    /* Дополнительные стили по желанию */
  </style>
{% endblock %}
{% block content %}
  <div class="server-container">
    <main role="main">
        {% if servers %}
            {% for server in servers %}
            <div class="server-card">
              <img src="{{ server.icon.file_url }}" alt="Server Icon" class="server-icon" width="50" height="50">
              <div class="server-details">
                <div>{{ server.name }}</div>
                <div>{{ server.description }}</div>
                <!-- Место для тегов -->
                <div class="tags">
                  {% for tag in tags %}
                  <span class="tag">{{ tag.name }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="number">{{ server.karma }}</div>
            </div>
            {% endfor %}
        {% else %}
        <div>
            <h1>Серверов с такими свойствами нету</h1>
        </div>
        {% endif %}
      </main>
    <nav class="filter-sidebar">
        <!-- Форма фильтрации с использованием чекбоксов -->
        <form action="post">
          <div class="form-group">
            <label>Игра:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="game1">
              <label class="form-check-label" for="game1">Игра 1</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="game2">
              <label class="form-check-label" for="game2">Игра 2</label>
            </div>
            <!-- Добавьте другие чекбоксы для игр при необходимости -->
          </div>
          <div class="form-group">
            <label>Жанр игр:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="genre1">
              <label class="form-check-label" for="genre1">Жанр 1</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="genre2">
              <label class="form-check-label" for="genre2">Жанр 2</label>
            </div>
            <!-- Добавьте другие чекбоксы для жанров при необходимости -->
          </div>
          <!-- Добавьте другие критерии фильтрации при необходимости -->
          <button type="submit" class="btn btn-primary">Применить фильтр</button>
        </form>
      </nav>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
