{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/information-about-server.css') }}" />
{% endblock %}


{% block content %}
    <div class="informationaboutserver">
      <div class="div27">
        <img class="rectangle-icon" alt="" src="{{ url_for('static', path='images/rectangle-19@2x.png') }}" />

        <div class="minecraft-horse-container1">
          {% if server.description %}
          <p class="minecraft-horse1">{{ server.description }}</p>
          {% else %}
          <p class="minecraft-horse1">{{ server.name }}</p>
          {% endif %}
        </div>
        <div class="div28">Описание</div>
      </div>
      <div class="border-for-info-server1"></div>
      <div class="div29">
        <div class="owner-text1">{{ server.owner.name }}</div>
        <div class="status-text1">Online</div>
        <div class="ip-text1">{{ server.full_ip() }}</div>
        {% if server.website_link %}
        <div class="website-text1"><a href="{{ server.website_link }}" class="join-link">Click to link</a></div>
        {% else %}
        <div class="website-text1">No link</div>
        {% endif %}
        {% if server.discord %}
        <div class="discord-text1"><a href="{{ server.discord_link }}" class="join-link">Click to join</a></div>
        {% else %}
        <div class="discord-text1">No link</div>
        {% endif %}
        <div class="players-column1">90/128</div>
        <div class="game-name1">{{ server.game.name }}</div>
        <div class="uptime-text1">99.9%</div>
        <div class="country-name1">{{ server.country_code}}</div>
        <div class="last-pings-time2">1 минуту. назад</div>
        <div class="horizontal-separator-parent">
          <div class="horizontal-separator11"></div>
          <div class="horizontal-separator12"></div>
          <div class="horizontal-separator13"></div>
          <div class="horizontal-separator14"></div>
          <div class="horizontal-separator15"></div>
          <div class="horizontal-separator16"></div>
          <div class="horizontal-separator17"></div>
          <div class="horizontal-separator18"></div>
          <div class="horizontal-separator19"></div>
          <div class="horizontal-separator20"></div>
          <div class="info-of-server1">
            <div class="status1">Status</div>
            <div class="status1">IP</div>
            <div class="status1">Website</div>
            <div class="status1">Discord</div>
            <div class="status1">Players</div>
            <div class="status1">Game</div>
            <div class="status1">Uptime</div>
            <div class="status1">Country</div>
            <div class="status1">Last Ping</div>
            <div class="status1">Tags</div>
          </div>
          <div class="wrapper5">
            <div class="div30">ТЭГ</div>
          </div>
          <div class="wrapper6">
            <div class="div30">ТЭГ</div>
          </div>
        </div>
        <div class="donatecraft-container">
          <div class="div30">{{ server.name }}</div>
        </div>
        <div class="owner1">Owner</div>
        <div class="line-for-1"></div>
      </div>
      <div class="div39">
          <button id="copyButton">Copy Content</button>
      </div>
    </div>

    <script>
      document.getElementById('copyButton').addEventListener('click', function() {
          // Контент, который вы хотите скопировать
          var contentToCopy = '{{ api_token }}';

          // Создаем временный элемент textarea для копирования текста
          var textarea = document.createElement('textarea');
          textarea.value = contentToCopy;

          // Добавляем элемент в DOM
          document.body.appendChild(textarea);

          // Выделяем текст в textarea
          textarea.select();
          textarea.setSelectionRange(0, textarea.value.length);

          // Копируем текст в буфер обмена
          document.execCommand('copy');

          // Удаляем временный элемент textarea
          document.body.removeChild(textarea);
      });
    </script>
{% endblock %}
