<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
    {% block head %}

    {% endblock %}
    <title>No document</title>
</head>
<body>
    <nav>
        {% block navbar %}
          <div class="navbar-custom">
              <ul class="main-nav">
                  <li><a class="logo" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                  <img alt="123" src="{{ url_for('static', path='images/image-6@2x.png') }}" width="40" height="40"/></a>
                  </li>
                  <li class="text-elem"><a href="{{ url_for('home') }}">Главная</a></li>
                  <li class="text-elem"><a href="{{ url_for('about') }}">О нас</a></li>
                  <li class="text-elem"><a href="{{ url_for('server:get-servers-page') }}">Сервера</a></li>
                  {% if user %}
                      {% if user.role.value == 'moderator' or user.role.value == 'admin' %}
                      <li class="text-elem"><a href="{{ url_for('server:queued-servers-page') }}">Ожидающие сервера</a></li>
                      {% endif %}
                  {% endif %}
              </ul>
              <div class="right-nav">
                  <div class="search-container">
                    <form action="{{ url_for('server:get-servers-page') }} ">
                        <input type="text" class="search-input" placeholder="Поиск" name="name">
                        <button type="submit" class="search-icon">
                            <img src="{{ url_for('static', path='images/search.svg' ) }}">
                        </button>
                    </form>
                  </div>
                {% if user %}
                <a class="account-icon" href="{{ url_for('user:get-account') }}">
                    <img src="{{ url_for('static', path='images/account-icon.png') }}" width="30" height="30">
                </a>
                {% else %}
                <a class="sign-in-icon" href="{{ url_for('auth:login') }}">
                    <img src="{{ url_for('static', path='images/sign-in.png') }}" alt="damn" width="30" height="30">
                </a>
                {% endif %}
              </div>
          </div>
        {% endblock %}
    </nav>

    <div class="main-content">
    {% block content %}

    {% endblock %}
    </div>

    <footer>
        {% block footer %}
            <div class="footer">
              <div class="footer-left">
                  <a class="discord-link" href="https://discord.com/invite/4BxZEjhetP">
                      <img src="{{ url_for('static', path='images/image-31@3x.png') }}" alt="1234" height="48" width="48">
                  </a>
                  <a class="steam-link" href="https://steamcommunity.com/groups/IgraKarma">
                      <img src="{{ url_for('static', path='images/image-42@3x.png') }}" alt="1234" height="50" width="50">
                  </a>
              </div>

              <div class="footer-center">

                  <img src="{{ url_for('static', path='images/image-6@2x.png') }}" height="40" width="40">
                  <h4 >Karma System</h4>
              </div>

              <div class="footer-right"><p>© Все права защищены</p></div>
            </div>
        {% endblock %}
    </footer>
</body>
</html>
